.topActive{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.activeCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.activeHeading{
    background-color: #265;
}